* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    flex: 1 0 auto;
}

.head-image {
    max-height: 20vh;
    width: 90%;
    padding: 10px 50px;
    background-color: grey;
}

.responsive-card-img {
    width: 100%;
    min-height: 150px;
    max-height: 170px;
    object-fit: cover;
}

.logos {
    /* margin: 50px;
    padding: auto 0px; */
    width: 90%;
    min-height: 40px;
    max-height: 150px;
    background-color: rosybrown;
    border-bottom: 5px solid red;
    transform: translateY(50%);
}

/* .responsive-img-logo {
    min-width: 60px;
    min-height: 20px;
    max-height: 6vh;
    transform: translateY(50%);
} */

.material-icons {
    display: inline-flex;
    margin-right: 1px;
    vertical-align: top;
}

.logo-rotate {
    transform: rotate(90deg);
}

.page-footer {
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer-top {
    margin: 0;
    padding: 10% 10% 5% 10%;
}

.sub-footer {
    padding: 0px 10px 0px 0px;
    /* letter-spacing: -.06px; */
    display: inline;
    box-sizing: border-box;
}

.footer-bottom {
    text-align: center;
    padding: auto 0px;
    height: 5vh;
}

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.div-2 {
    background-color: #b71c1c;
    max-height: 100rem;
    overflow: hidden;
}