* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

.head-image {
  max-height: 20vh;
  width: 90%;
  padding: 10px 50px;
  background-color: grey;
}

.responsive-card-img {
  width: 100%;
  min-height: 150px;
  max-height: 170px;
  object-fit: cover;
}

.logos {
  /* margin: 50px;
    padding: auto 0px; */
  width: 90%;
  min-height: 40px;
  max-height: 150px;
  background-color: rosybrown;
  border-bottom: 5px solid red;
  transform: translateY(50%);
}
.responsive-img-logo {
  display: inline-flex;
  padding-top: auto;
  padding-bottom: auto;
}

.material-icons {
  display: inline-flex;
  margin-right: 1px;
  vertical-align: top;
}

.logo-rotate {
  transform: rotate(90deg);
}

.page-footer {
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer-top {
  margin: 0;
  padding: 10% 10% 5% 10%;
}

.sub-footer {
  padding: 0px 10px 0px 0px;
  /* letter-spacing: -.06px; */
  display: inline;
  box-sizing: border-box;
}

.footer-bottom {
  text-align: center;
  padding: auto 0px;
  height: 5vh;
}

footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.main-div {
  text-decoration: none;
}
.main-header-img {
  padding: 0% 5% 5% 5%;
}
.main-header-input {
  padding: 0% 5% 5% 5%;
  
}
.main-header-input {
  width: 70%;
  background: white;
}

.main-respnsive-img {
  object-fit: cover;
  width: 100%;
  max-height: 50vh;
}
.main-card {
  padding: 0px;
  transform: translateY(-30%);
}
.small-img-div {
  margin: 5%;
}
.small-img {
  width: 100%;
  min-height: 170px;
  max-height: 170px;
  object-fit: cover;
  padding: 10px;
  border: 3px grey solid;
}
