* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  margin-bottom: 0px;
}

.container-custom {
  padding: 0 4%;
}

/* nav style start */

nav .brand-logo {
  padding-left: 2%;
  padding-right: 2%;
}

nav .brand-logo span {
  font-size: 36px;
}

ul .dropdown li {
  width: 100%;
}

nav ul {
  margin-left: 2%;
  padding-right: 2%;
}

/* nav style ends */

/* search style starts */
.search-bar {
  height: 60px;
}

#icon_prefix {
  height: 35px;
}

.input-field {
  margin: 8px;
}

.white-gap {
  border-right: 3px solid white;
}

.details-search-bar {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* search Endes */

/* carousel starts */

.carousel .carousel-item {
  visibility: visible;
}

.bottom-padding {
  padding-bottom: 4%;
}

.carousel-display {
  position: relative;
}

.carousel-img {
  display: block;
  width: 100%;
  height: 90vh;
}

.carousel-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
}

/* carousel ends */

/* card starts */

.card {
  margin: 0 0;
  transition: 0.3s;
}

/* On mouse-over, add a  shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #cfd8dc;
  transition: transform 0.2s;
}

/* border vottom to image when hover over the card */
.card:hover .img-cards {
  border-bottom: 5px solid #d32f2f;
  transition: border-bottom 0.4s;
}

.card:hover b {
  color: #d32f2f;
  transition: color 0.4s;
}

.card p {
  font-size: medium;
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 16px;
  height: 130px;
}

.img-cards {
  width: 100%;
  object-fit: cover;
  height: 170px;
}

.no-padding {
  padding: 0 0;
}

.card-transform {
  transform: translateY(-50%);
}

.icon-rotate {
  transform: rotateY(+180deg);
}

.container-card h5 {
  margin: 1px 1px;
}

/* cards ends */

/* special offer section start */
.left-border-red {
  border-left: 4px solid red;
  padding-right: 10px;
}

/*  special offer section ends */

/* Special offer card starts */
.border-line {
  margin: 10px 0;
}
.border-line:hover {
  outline: 2px solid grey;
}
.special-offer-img {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
  padding: 20px;
}
/* Spacial offer card ends */

/* peek games section */
.peek-games-card {
  /* padding: 20px 0px; */
  margin: 20px 0px;
}
.date {
  font-weight: 200;
  font-size: xx-small;
}
p span {
  color: #d32f2f;
  font-weight: 600;
}
.card:hover p span {
  color: black;
  transition: 0.2s;
}
/* peek games section */

/* PS4 Nintendo starts*/
.PS4-Nintendo-transform {
  transform: translateY(50%);
}
.PS4-Nintendo-transform img {
  width: 100%;
  max-height: 10vw;
  background: transparent;
}
.border-bottom {
  border-bottom: 5px solid #d32f2f;
}

/* PS4 Nintendo ends*/

/* footer strats*/
.padding-top {
  padding-top: 4vw;
}
footer ul li a:hover {
  font-weight: 700;
  color: red;
}
/* footer ends */
@media only screen and (max-width: 2500px) {
  .card-transform {
    transform: translateY(-34%);
  }
}

@media only screen and (max-width: 1600px) {
  .details-search-bar {
    font-size: 16px;
  }

  .card-transform {
    transform: translateY(-22%);
  }
}

@media only screen and (max-width: 1300px) {
  .details-search-bar {
    font-size: 12px;
  }

  .card-transform {
    transform: translateY(-17%);
  }
}

@media only screen and (max-width: 1150px) {
  nav ul {
    display: none;
  }

  .card-transform {
    transform: translateY(-15%);
  }
}

@media only screen and (max-width: 992px) {
  .white-gap {
    border-right: none;
  }

  .card-transform {
    transform: none;
  }

  .card {
    margin: 4% 4%;
  }
}
